.top-navbar {
  background-color: rgba(128, 128, 128, 0.393);
  font-size: small;
  font-family: sans-serif;
  display: flex;
  height: 30px;
  justify-content: space-between;
}
.top-bar {
  height: 50px;
  justify-content: space-between;
  text-align: center;
  display: flex;
}
.top-bar ul li {
  cursor: pointer;
  display: inline-block;
  list-style: none;
  font-weight: 600px;
  font-size: 12px;
}
.top-bar ul {
  margin: 0px;
  padding: 0px;
}
.ant-btn {
  background-image: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 1.5715;
  padding: 4px 15px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.main-navbar > .container {
  align-items: center;
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
}
img {
  font-size: 1.25rem;
  margin-right: 1rem;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
  text-decoration: none;
  white-space: nowrap;
}
.nav-link {
  display: flex !important;
  flex-basis: auto;
  text-align: justify;
}
