body{
    text-align: center; 
    border-style:groove;
    padding: 25%;
    color: antiquewhite;
    

}
.sg-1{
   background-color:transparent; 
   font-size:20px; 
   
}
.fs-2{
    background-image: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border-width: 15px;     
}
 